body{
    font-family: Helvetica, sans-serif;

}
h1,h2,h3{
    font-weight: 600;
}
.navbar{
    border-radius: 0px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FF3D00;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #FF3D00;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #FF3D00;
    border-radius: 3px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}

.nav {
    padding: 10px;
    
}

.navbar-header{
padding: 5px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #FF3D00;
}

#inicio{
    /* e isso*/
    background-image: url('../img/iphone.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}
main{
    margin-top: 50px;

}
  
#produtos{
background-color: #FF3D00;
color: white;
padding: 1em;
}
  
#servicos{
background-color: #eee;
padding: 1em;
}

 

#promocoes{
background-color:#FF3D00;
color: white;
padding: 1em;
}


#inputEmail{

}

form{
    width: 500px; margin: 0 auto;
}

footer{
    color: white;
    background-color: black;
    padding: 20px 20px;
}

.form-control{
      border-radius: 0px;
}
.btn-default{
    background-color:#FF3D00;
    color: #ffffff;
    border: #FF3D00 solid 2px;
    height: 50px;
    border-radius: 2px;
}

.btn-default:hover{
    background-color: #fff;
    color: #FF3D00;
    border: #FF3D00 solid 2px;
}

#news{
    padding: 1em;
}

/*estudar isso*/
@media only screen and (max-width: 768px) {
    #inicio{
        height: 400px;
        
    }

}